
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



body {
  background: linear-gradient(135deg, #ff512f, #dd2476); /* new colors */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  animation: fadeIn 1s ease;
}



h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

a {
  display: inline-block;
  text-decoration: none;
  background-color: white;
  color: #3b82f6;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: bold;
  transition: all 0.3s ease;
}

a:hover {
  background-color: #1e3a8a;
  color: white;
  transform: scale(1.05);
}


body {
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
